[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-crispy-forms = "*"
djangorestframework = "~=3.11.0"
django-cors-headers = "==3.4.0"
environs = {version = "==8.0.0", extras = ["django"]}
send-email = "*"
psycopg2-binary = "*"
gunicorn = "==19.9.0"
whitenoise = "==5.1.0"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.9"
